*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    max-width: 100%;
    
}

#header{
    height: 100vh;
    background:url(images/cool-background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.user-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.user-box img{
    border-radius: 50%;
    max-width: 250px;
    height: fit-content;
    border: 2px solid;
}

.user-box h1{
    color: black;
    font-weight: bold;
    margin: 10px;
}

.user-box p{
    color: black;
    text-align: center;
}

.scroll-btn{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid white;
    padding: 10px 10px 20px;
    border-radius: 30px;
}

.scroll-bar span{
    border: 2px solid white;
    font-size: 20px;
    border-radius: 30px;
}

.scroll-bar{
    animation: mover 1s infinite alternate;
}

.profile-img{
    max-height: 400px;
    max-width: 400px;
    padding-bottom: 50px;
}

@keyframes mover{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}

.about-container{
    
    padding-top: 100px;
    padding-bottom: 50px;
}

.nav-bar{
    top: 0;
    position: sticky;
    background-color:whitesmoke;
    z-index: 2;
}

.nav-bar .fa-bars{
    font-size: 0px;
    color: white;
}

.nav-item a{
    color: blue;
}

.navbar-toggler{
    outline: none !important;
}

.navbar-nav{
    float:right;
    text-align: right;
}

.nav-link{
    color: black !important;
}

.skills-bar p{
    margin-bottom: 6px;
    font-weight: 600;
}

.progress{
    border-radius: 16px !important;
    margin-bottom: 10px;
}

.progress-bar{
    border-radius: 16px;
    
}

.resume{
    padding-top: 50px;
    background: aliceblue;
    
}

.resume h3{
    
    margin-bottom: 50px;
}

.timeline{
    list-style-type: none;
    position: relative;
    margin-top: 20px;
    
   
}

.timeline::before{
    content: "";
    background: black;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 29px;
    width: 2px;
    height: 97%;
    z-index: 1;
   
}

.timeline li{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: white;
    
}

.timeline li::before{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid black;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.timeline li h4{
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: #ccc;
    font-size: 16px;
}

.timeline li h4 #title{
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.services{
    padding-top: 50px;
    padding-bottom: 50px;
}

.services h1{
    margin-bottom: 30px;
    margin-right: 30px;
}

.projects-box{
    text-align: center;
    display: block;
    padding: 10px;
    width: 900px;
    background: #f9f9f9;
    border-top-right-radius: 50px;
    border: 2px solid black;
}

.projects-box .fa-brands{
    font-family: FontAwesome!important;
    margin: 3px;
    font-size: 20px;
}

.projects-box:hover{
    background:rgba(17, 0, 255, 0.308);
    transition:2s;
}

.contact{
    padding-top: 50px;
    background:url(images/cool-background-2.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contact #linked{
    font-family: FontAwesome!important;
    font-size: 20px;
    width: 20px;
    height: 20px;
    background: #1E3050;
}

.contact #email{
    font-family: FontAwesome!important;
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: #1E3050;
}

.contact #phone{
    font-family: FontAwesome!important;
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: #1E3050;
}

.contact #download{
    font-family: FontAwesome!important;

}

.contact .row{
    padding: 30px;
    font-size: 22px;
}

.contact .btn{
    padding: 10px 25px 10px 25px;
    margin: 5px;
    
}
.social-icons{
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
}
.social-icons #linkedin{
    font-family: FontAwesome!important;
}

.social-icons ul{
    padding: initial;
}

.social-icons ul li{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background: #1E3050;
}

.social-icons ul li:hover{
    padding-left: 30px;
    width: 80px;
    transition: 1s;

}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
 
  #snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
    @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


